@charset "utf-8";
/* CSS Document */

body, h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
img {
	vertical-align: middle;
	max-width: 100%;
	border: 0;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
table caption, hr {
	display: none;
}
.clearfix::before, .clearfix:before,
.clearfix::after, .clearfix:after {
	content: "";
	display: block;
}
.clearfix::after, .clearfix:after {
	clear: both;
}

body {
    line-height: 1;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}
.container li {
    position: relative;
    float: left;
    width: 25%;
    height: auto;
    overflow: hidden;
}
.content li .photo {
    width: 100%;
}
.content li .description {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    transition: top 0.3s;
}
.content li a:hover .description, .content li a:focus .description {
    top: 0;
}
.content li .description .title {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(-50%);
}
.content li .description .title h2 {
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 200;
    color: #fff;
}

@media only screen and (max-width: 1100px) {
    .content li {
        width: 50%;
    }
    .content li .description .title h2 {
        font-size: 1.375em;
    }
}
@media only screen and (max-width: 800px) {
    .content li .description .title h2 {
        font-size: 1em;
    }
}
@media only screen and (max-width: 500px) {
    .content li {
        width: 100%;
    }
    .content li .description .title h2 {
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 400px) {
    .content li .description .title h2 {
        font-size: 1em;
    }
}