body {
	margin: 20px;
	padding: 20px;
	line-height: 1;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	background-color: #f1f1f1;
	color: #555;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.title {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	font-size: 1.5em;
	font-weight: 300;
	color: #555;
}
.container {
	margin-top: 35px;
	min-width: 440px;
}
.controller {
	padding-top: 20px;
}
.controller li {
	display: inline-block;
	margin-left: 8px;
}
.controller li:first-child {
	margin-left: 0;
}
.controller li a {
	display: block;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 20px;
	transition: width 0.3s, background-color 0.3s;
}
.controller li.on a {
	width: 50px;
	background-color: #8ac007;
}