/* 예제 16
body {
	margin: 20px;
	padding: 20px;
	height: 2000px;
	line-height: 1;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	background-color: #555;
	color: #000;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	margin-top: 20px;
}
.title {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-weight: 300;
}
.container {
	margin-top: 35px;
    color: #fff;
} */

/* 예제 19
body {
	margin: 20px;
	padding: 20px;
	line-height: 1;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	background-color: #555;
	color: #000;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	margin-top: 20px;
}
button {
	padding: 5px 15px;
	background-color: #666;
	color: #000;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.5s;
}
button:hover {
	background-color: #888;
}
.title {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-weight: 300;
}
.container {
	margin-top: 35px;
}
.gallery {
	margin-top: 60px;
} */

body {
	margin: 20px;
	padding: 20px;
	line-height: 1;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	background-color: #555;
	color: #000;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	margin-top: 20px;
}
button {
	padding: 5px 15px;
	background-color: #666;
	color: #000;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.5s;
}
button:hover {
	background-color: #888;
}
.title {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-weight: 300;
}
.container {
	margin-top: 35px;
}
.gallery {
	margin-top: 60px;
}
.gallery img {
	width: 200px;
}