@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}
html, body {
    overflow-x: hidden;
    width: 100%;
}
#wrap {
    margin: 0 auto;
    max-width: 1000px;
}
#wrap_box {
    display: block;
    width: 100%;
}
#box_a {
    float: left;
    width: 30%;
    height: 400px;
    background-color: #f00;
}
#box_b {
    float: left;
    width: 40%;
    height: 400px;
    background-color: #0f0;
}
#box_c {
    float: right;
    width: 30%;
    height: 400px;
    background-color: #00f;
}

@media only screen and (max-width: 1024px) {
    #wrap {
        width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    #wrap_box {
        width: 150%;
    }
    #box_a {
        width: 33.333%;
    }
    #box_b {
        width: 33.333%;
    }
    #box_c {
        width: 33.333%;
    }
}