@charset "utf-8";
/* CSS Document */

body {
	margin: 20px;
	padding: 20px;
	line-height: 1;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	background-color: #CCC;
}
.title {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	font-weight: 300;
}
.container {
	margin-top: 35px;
}

/*Basic CSS*/
